body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

.App {
    text-align: center
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 40px 0px;
    color: #fff;
    font-size: 1.8em
}

.App-title {
    font-size: .6em
}

.App-intro {
    font-size: large
}

.btn-start {
    background-color: #008cba;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.btn-play {
    width: 20%;
    height: 20%;
    max-width: 80px;
    max-height: 80px;
    background-color: #ccc
}

#tabela {
    margin: 5px auto;
    max-height: 100px;
    width: 96%
}

td {
    width: 12%;
    border: 3px solid #000;
    border-radius: 3px
}

.img-btn,
td {
    height: auto;
    padding: 0
}

.img-btn {
    width: 100%;
    margin: 0 auto;
}

.Play-header {
    display: flex;
    justify-content: space-around;
}